# 時系列データセットを作る

In [5]:
import pandas as pd
import numpy as np

## 定数のデータ

https://qiita.com/wrblue_mica34/items/2cfe71fa83f1c2bc7895

In [12]:
pd.date_range(start='2018-2-1', periods=312, freq='H') #開始と期間，単位を指定，1時間

DatetimeIndex(['2018-02-01 00:00:00', '2018-02-01 01:00:00',
               '2018-02-01 02:00:00', '2018-02-01 03:00:00',
               '2018-02-01 04:00:00', '2018-02-01 05:00:00',
               '2018-02-01 06:00:00', '2018-02-01 07:00:00',
               '2018-02-01 08:00:00', '2018-02-01 09:00:00',
               ...
               '2018-02-13 14:00:00', '2018-02-13 15:00:00',
               '2018-02-13 16:00:00', '2018-02-13 17:00:00',
               '2018-02-13 18:00:00', '2018-02-13 19:00:00',
               '2018-02-13 20:00:00', '2018-02-13 21:00:00',
               '2018-02-13 22:00:00', '2018-02-13 23:00:00'],
              dtype='datetime64[ns]', length=312, freq='H')

In [19]:
df = pd.DataFrame({'item_id' : 'const',
                   'timestamp' : pd.date_range(start='2018-2-1', periods=312, freq='H'), #開始と期間，単位を指定，1時間
                   'demand' : np.full(312, 100)
                  })

In [20]:
df

    item_id           timestamp  demand
0     const 2018-02-01 00:00:00     100
1     const 2018-02-01 01:00:00     100
2     const 2018-02-01 02:00:00     100
3     const 2018-02-01 03:00:00     100
4     const 2018-02-01 04:00:00     100
..      ...                 ...     ...
307   const 2018-02-13 19:00:00     100
308   const 2018-02-13 20:00:00     100
309   const 2018-02-13 21:00:00     100
310   const 2018-02-13 22:00:00     100
311   const 2018-02-13 23:00:00     100

[312 rows x 3 columns]

In [21]:
df.to_csv('../input_for_forecast_const/tts_const.csv', index=False, header=False)

# 追加用データセット作成
・データセットに追加して、増分学習をかけることができるか検証する。  
・horizonは48Hとする。

In [22]:
df_add = pd.DataFrame({'item_id' : 'const',
                   'timestamp' : pd.date_range(start='2018-2-14', periods=24, freq='H'), #開始と期間，単位を指定，1時間
                   'demand' : np.full(24, 1000)
                  })

In [23]:
df_add

   item_id           timestamp  demand
0    const 2018-02-14 00:00:00    1000
1    const 2018-02-14 01:00:00    1000
2    const 2018-02-14 02:00:00    1000
3    const 2018-02-14 03:00:00    1000
4    const 2018-02-14 04:00:00    1000
5    const 2018-02-14 05:00:00    1000
6    const 2018-02-14 06:00:00    1000
7    const 2018-02-14 07:00:00    1000
8    const 2018-02-14 08:00:00    1000
9    const 2018-02-14 09:00:00    1000
10   const 2018-02-14 10:00:00    1000
11   const 2018-02-14 11:00:00    1000
12   const 2018-02-14 12:00:00    1000
13   const 2018-02-14 13:00:00    1000
14   const 2018-02-14 14:00:00    1000
15   const 2018-02-14 15:00:00    1000
16   const 2018-02-14 16:00:00    1000
17   const 2018-02-14 17:00:00    1000
18   const 2018-02-14 18:00:00    1000
19   const 2018-02-14 19:00:00    1000
20   const 2018-02-14 20:00:00    1000
21   const 2018-02-14 21:00:00    1000
22   const 2018-02-14 22:00:00    1000
23   const 2018-02-14 23:00:00    1000

In [24]:
df_add.to_csv('../input_for_forecast_const/tts_const_add24h.csv', index=False, header=False)